.user-card-container {
  padding: 20px 10px 0;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  .user-card-container-header {
    border-bottom: 2px solid $primary-color;
    margin-bottom: 10px;
    padding-bottom: 5px;

    .form-control {
      font-size: 0.8em;
      background-color: $primary-color;
      padding: 0 .75rem;
      width: auto;

      &:focus {
        background-color: $primary-color;
        border-color: #ced4da;
        box-shadow: none;
      }
    }
  }

  .user-container-heading {
    font-size: 1.3em;
  }

  .user-cards {
    flex: 1 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;

    .user-card {
      width: 25%;
      margin: 0 10px 15px;
    }
  }
}