.dashboard-container {
  border: 1px solid $primary-color;

  .dashboard-team-user-container {
    display: flex;

    .dashboard-team-col {
      flex: 1 1 350px;
      background-color: $secondary-color;
    }

    .dashboard-user-col {
      flex: 1 1 100%;
    }

    @media only screen and (max-width: 767px) {

      .dashboard-team-col {
        flex: 1 1 150px;
      }
    }
  }
}